[submodule "packages/baxter_common"]
	path = packages/baxter_common
	url = https://github.com/RethinkRobotics/baxter_common.git
[submodule "packages/baxter_interface"]
	path = packages/baxter_interface
	url = https://github.com/ripl/baxter_interface.git
[submodule "packages/baxter_tools"]
	path = packages/baxter_tools
	url = https://github.com/ripl/baxter_tools.git
